
<section class="pt-28 min-h-screen flex flex-col justify-center items-center text-center ">
	<div class="flex flex-col justify-center items-center">
		<h1 class="pointer-events-none text-6xl max-md:text-4xl font-extrabold">
			Manage Your 
			<span >Finances</span>,
			<span >Spend Wisely</span>
			and Build a 
			<span>Better Tomorrow</span>, 
			Today.
		</h1>
		<p class="mt-6 text-xl text-gray-600 max-w-2xl mx-auto max-md:text-lg">
			Start managing your finances with ease. Track your expenses, optimize your spending, and achieve financial freedom.
		</p>
		<div class="mt-8 flex flex-wrap justify-center gap-4">
			<button class="bg-red-400 text-white px-6 py-3 rounded-full text-sm font-semibold hover:bg-red-600 transition cursor-pointer">
				Get Started
			</button>
			<button class="bg-gray-200 text-gray-900 px-6 py-3 rounded-full text-sm font-semibold hover:bg-gray-300 transition cursor-pointer">
				Request Demo
			</button>
		</div>

	
	</div>
</section>
