@import 'tailwindcss';

/* Custom */
@theme {
  --font-unbounded: 'Unbounded Variable', 'sans-serif';
  --font-poppins: 'Poppins', 'sans-serif';
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

input,
textarea {
  outline: none;
}
