---
import ArrowUpRight from "../../assets/arrowUpRight.svg";
const { text, href, style} = Astro.props;
---

<a href={href} class={`group flex items-center space-x-2 transition-all duration-300 ${style} `}>
  <span>{text}</span>
  <span class="p-1  rounded-full flex items-center justify-center bg-red-400" >
    <ArrowUpRight class="w-4 h-4 transition-transform duration-300 group-hover:rotate-45"/>
  </span>
</a>
